[submodule "src/third_party/libosmium"]
	path = src/third_party/libosmium
	url = https://github.com/osmcode/libosmium.git
[submodule "src/third_party/protozero"]
	path = src/third_party/protozero
	url = https://github.com/mapbox/protozero.git
